*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

body{
    display: grid;
    grid-template-rows: 10vh 90vh 20vh;
    grid-template-areas: "top""page""footer";
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.774);

}

nav{
    position: relative;
    grid-area: "top";
    display: grid;
    grid-template-columns: 20vw auto;
    grid-template-areas: "img btn";
    border-bottom: solid rgb(226, 36, 36) 2px; 
}

.img-box-nav{
    height: 100%;
    grid-area: "img";
    align-items: center;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.img-box-nav img{
    height: 40%;
    width: 90%;
}

.btn-box-nav{
    position: relative;
    height: 100%;
    grid-area: "btn";
    display: flex;
    justify-content: flex-end;
    align-items: center;
    right: 30px;
}
.btn-box-nav a{
    position: relative;
    text-decoration: none;
    color: rgb(201, 22, 22);
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:800;
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    margin: 5px;
}

a::after{
    display: flex;
    flex-direction: column;
    content: '';
    height: 2px;
    background-color: rgb(226, 36, 36);
    width: 0px;
}

.btn-box-nav a:hover::after{
    animation: btn .6s ease-out;
    transform-origin: left;
    width: 100%;
}

@keyframes btn{
    0%{
        width: 0px;
    }
    100%{
        width: 100%;
   }

}

main{
    grid-area: "page";
    background-color: rgb(78, 74, 74);
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

main div{
    width: 50%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.img-box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.form__wrapper {
    position: relative;
    height: 100%;
    background-color: #141313;
}

.input {
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 20px;
    overflow: hidden;

}

.input>input {
    padding: 8px;
    z-index: 101;
    background-color: transparent;
    color: #7e0000;
}

label {
    position: absolute;
    user-select: none;
    cursor: text;
    height: 30px;
    padding: 10px;
    margin-left: 5px;
    font-size: 15px;
    color: white;
    z-index: 000;
    overflow: hidden;
}

.input>p {
    z-index: 101;
}

legend {
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    padding: 5px;
    color: #fff;
}


input, input:focus {
    outline: none;
    border: solid .1px rgba(255, 255, 255, 0.404);
}


input:-webkit-autofill {
    box-shadow: 0 0 0 30px white inset;
}

input:-webkit-autofill {
    -webkit-text-fill-color: rgba(0, 0, 0, 0.63) !important;
}

input:valid~label, input:focus~label {
    animation: readjust .3s;
    top: -20px;
    background-color:  transparent;
    z-index: 101;
}

@keyframes readjust {
    0% {
        top: 0px;
    }

    100% {
        top: -20px;
    }
}

form {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 360px;
}

fieldset {
    
    margin: 5px;
    border-width: 0.1px;
    border-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#submit {
    height: 35px;
    width: 150px;
    margin: 0 auto;
    font-size: 12px;
    cursor: pointer;
    color: #fff;
    overflow: hidden;
}

#submit:hover {
    background-color: #c91010;
}

footer{
    grid-area: "footer";
    background-color: rgb(39, 34, 34);
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    justify-content: space-between; 
    user-select: none;
}

footer ul li { 
    margin: 10px 0px 0px 0px; 
} 

#ds { 
    margin: 0px 0px 0px 40px; 
} 

#social { 
    margin: 0px 40px 0px 0px; 
} 

#social img { 
    width: 15px; color: var(--fontColor); 
} 

svg { 
    fill: rgb(182, 178, 178); 
    width: 18px; 
    height: 18px; 
    margin: 0px 5px 0px 0px; 
} 

#social li a, footer li { 
    display: flex; 
    align-items: center; 
    letter-spacing: 1px; 
    font-family: InterBold; 
    cursor: pointer; 
    color: rgb(196, 186, 186); 
} 

@media screen and (max-width: 900px) {
    .img-box {
        position: relative;
        width: 0px;
        height: 84vh;
        background-color: rgb(0, 0, 0);
        overflow: hidden;
    }

    .form__wrapper {
        position: relative;
        width: 100vw;
        height: 100%;
        background-color: #141313e5;
    }
}